.headerLayout {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.trashIcon,
.penIcon {
    max-width: 24px;
}

.simplePagination,
.resultText,
.simpleFilter
{
    margin: 16px 0;
}